---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import config from '../static/data.json'
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content=`The ${title} page on Mat Harris's personal website` />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Mat Harris | Web Developer</title>
	</head>
	<body class="text-xl tracking-wide leading-loose">
		<Header links={config.config.links} info={config.config.info}></Header>
		<main class="dark:bg-gray-900 dark:text-white">
			<section class="container lg:max-w-4xl mx-auto py-14 px-4 lg:px-0">
				<slot />
			</section>
		</main>
		<Footer contact={config.config.info.contact}></Footer>
	</body>
</html>
<style>
	
</style>
