---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import config from '../static/data.json'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-white text-xl">
		<Header links={config.config.links} info={config.config.info}></Header>
		<slot />
		<Footer contact={config.config.info.contact}></Footer>
	</body>
</html>
<style>
	
</style>
