---
const { frontmatter } = Astro.props;

import config from '../static/data.json'
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import Prose from '../components/Prose.astro';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content=`A page entitled "${frontmatter.title}" on Mat Harris's personal website` />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title} | Mat Harris</title>
	</head>
	<body class="text-xl tracking-wide leading-loose">
		<Header links={config.config.links} info={config.config.info}></Header>
		<main class="dark:bg-gray-900 dark:text-white">
			<section class="container lg:max-w-4xl mx-auto py-14 px-4 lg:px-0">
				<h1 class="text-center text-7xl mb-9">{frontmatter.title}</h1>
        {frontmatter.author && <p>By: {frontmatter.author}</p>}
        <Prose>
          <slot />
        </Prose>
			</section>
		</main>
		<Footer contact={config.config.info.contact}></Footer>
	</body>
</html>

